RewriteEngine on

RewriteCond %{HTTP_HOST} pnrtscr.com [NC]
RewriteRule ^$ https://prnt.sc [NC,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php
